
<link rel="stylesheet" href="~/css/StyleSheet.css" asp-append-version="true" />
<body class="bodyHome">
    @{
        ViewData["Title"] = "Home Page";
    }

    <div class="text-center">
        <h1 class="display-4">ClinicSab</h1>
        <span>Em busca do seu bem-estar!</span>
    </div>
    <div>
        <img src="~/css/logo-clinica (2).png" alt="logo" />
     
    </div>
</body>

