body {
}
main {
    margin: 0 auto;
    width: 90%;
    height: 700px;
    border: solid 1px black;
}

.name-lab {
    text-align: center;
    font-size: 18px;
    font-family: sans-serif;
    margin-right: 5px;
}

.info-paci {
    font-family: sans-serif;
    justify-content: center;
    column-gap: 10px;
    font-size: 14px;
    margin-left: 80px;
}

.info-exame {
    font-family: sans-serif;
    margin-top: 40px;
    margin-left: 80px;
    margin-right: 80px;
    display: flex;
    justify-content: space-between;
    font-size: 14px;
}

.info-exame2 {
    font-family: sans-serif;
    margin-left: 80px;
    margin-right: 80px;
    margin-top: 40px;
    font-size: 14px;
}

.box-exame2 {
    margin-top: 12px;
}

.ref {
    margin: 10px;
}

.info-exame3 {
    font-family: sans-serif;
    margin-left: 80px;
    margin-right: 80px;
    margin-top: 40px;
    font-size: 14px;
}

.hr {
    margin-top: 35px;
}

.bold {
    font-weight: bold;
}

hr {
    border: solid 1px black;
    margin-left: 30px;
    margin-right: 30px;
}

img {
    width: 85px;
    height: 85px;
    margin-right: 5px;
    margin-top:10px;
}