body {
    background-color: #F1F0E8;
}

.text-center {
    text-align: center;
    margin-top: 100px;
    font-family: sans-serif;
    margin-left: 33%;
    border: solid 4px #96B6C5;
    border-radius: 5px;
    width: 500px;
    height: 570px;
}

.entrar {
    border: solid 3px #96B6C5;
    background-color: #ADC4CE;
    border-radius: 5px;
    font-size: 18px;
}

input {
    height: 50px;
    width: 70%;
    border: solid 2px #96B6C5;
    border-radius: 5px;
}

label {
    display: block;
    text-align: justify;
    margin-top: 15px;
    margin-bottom: 10px;
    margin-left: 15%;
}

img {
    width: 130px;
    height: 130px;
    margin-bottom: 50px;
    margin-top: 35px;
}

span {
    font-size: 40px;
    font-family: sans-serif;
}
