html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
    font-family: sans-serif;
    margin-bottom: 60px;
    background-color: #F1F0E8;
}
img {
    height: 200px;
    width: 200px;
    margin-left: 42%;
    margin-top: 26px;
}
span{
    align-items:center;
}
.text-center{
    margin-top:12%;
}
.img-header{
    width:60px;
    height:60px;
    margin-bottom:8px;
    margin: 0 auto;
}
th{
    color: #7C96AB;
}
input {
    background-color: #F1F0E8;
    border: solid 2px #96B6C5;
    border-radius: 5px;
}
