@model ProjetoFinalIsabela.Models.LocalRealizacao

@{
    ViewData["Title"] = "Details";
}
<link rel="stylesheet" href="~/css/StyleSheet.css" asp-append-version="true" />
<h1>Detalhes</h1>

<div>

    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LocalNome)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LocalNome)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Cidade)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Cidade.CidadeNome)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id" class="editar">Editar</a> |
    <a asp-action="Index" class="voltar">Voltar</a>
</div>
